* {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.search-form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: 1px black;
  padding: 10px;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipe-container {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  flex-direction: column;
  min-width: 40rem;
  box-shadow: 0px 5px 10px rgb(71, 71, 71);
}

.recipe-image {
  margin: 1rem;
  max-width: 20rem;
  width: 75%;
}

.recipe-title {
  margin-top: 0;
  margin-bottom: 1rem;
  max-width: 15rem;
}

.recipe-ingredient-list {
  margin: 0;
}

.recipe-calories {
  margin-top: 0;
  margin-bottom: 2rem;
  justify-content: center;
}
